@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@1,100..900&family=Sriracha&display=swap');

.nav { background: #D48541; }

.list {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 8px 16px;
    list-style: none;
    margin: 0;
}
.item {
    background: #D48541;
    border: none;
    color: #1a1a1a;
    /* border-radius: 999px; */
    padding: 6px 12px;
    font-size: 20px;
    font: bold;
    cursor: pointer;
    white-space: nowrap;
}

.item:hover {
    background: #DFB793;
    color: black;
}
